{% extends 'hood/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 style="text-decoration: underline;">Welcome to NeighbourHood Watch.</h3>
                    <h4>View posts and emergency contacts by clicking on the view posts and contacts buttons respectively</h4>
                    <h4>Make some posts of your own by clicking on Add Posts button</h4>
                    <h4>Add a profile page by clicking on the dropdown from the tab with your name</h4>
                    <h4>View, search or upload a business by clicking on the tabs in the navbar</h4>
                    <h4>Logout when you are done</h4>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}