{% extends 'hood/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3>Welcome to NeighbourHood Watch.</h3>
                    <h4>View posts and emergency contacts</h4>
                    <h4>Make some posts of your own</h4>
                    <h4>Add a profile page</h4>
                    <h4>View, search or upload a business</h4>
                    <h4>Logout when yoou are done</h4>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}