{% extends 'hood/base.html' %}
{% load cloudinary %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if postups %}
            {% for postup in postups%}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>{{postup.title}}</h3>
                </div>
                <div class="panel-body">
                    <img src="{{postup.image.url}}" alt="img" >
                    <p>{{postup.content}}</p>
                </div>
                <div class="panel-footer">
                    <h4>Posted by: {{postup.poster}} on {{postup.date_added}}</h4>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h3>This location does not have any posts or alerts yet.</h3>
            {% endif %}
            <button class="btn btn-lg" style="background-color: #ff006e;"><a href="{% url 'local'%}" style="color: white;">Back</a></button>
        </div>
        
    </div>
</div>
{% endblock %}