{% extends 'hood/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form method="get">
                {{ filter.form.as_p }}
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        {% if filter.qs %}
        <h2>Found {{filter.qs|length}} businesses from your search </h2>
        {% for business in filter.qs %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{business.name}}</h4>
                <p class="card-text">{{business.description}}</p>

            </div>
            <div class="card-footer">
                <h5>Location: {{business.area}}</h5>
                <ul>
                    <li>Owned by: {{business.owner}}</li>
                    <li>Contact: {{business.email}}</li>
                </ul>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <h3>Found 0 businesses from your search </h3>
        {% endif %}
    </div>
</div>
{% endblock %}