<nav class="navbar " style="background-color: #ff006e;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home'%}" style="color: white;">NeighbourHood Watch</a>
      </div>
  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          
        </ul>
        {%if user.is_authenticated%}
        
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">View Projects</a></li>
            <li><a href="#">Search Projects</a></li>
            <li><a href="#">Upload Project</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">View Profile</a></li>
                <li><a href="/accounts/password/change/">Change Password</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/accounts/logout/">Log Out</a></li>
              </ul>
            </li>
        </ul>

        {% else %}
       
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SIGN UP <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/accounts/signup/">Sign Up</a></li>
              <li><a href="/accounts/login">Log in</a></li>
              <li><a href="/accounts/password/reset/">Reset Password</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>